* {
  box-sizing: border-box;
}

:root {
  --background-color: white;
  --text-color: black;
}

.dark {
  --background-color: black;
  --text-color: white;
}

html,
body {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  transition: background-color 200ms;
}

button {
  outline: none;
  appearance: none;
  background: none;
  border: none;
}
