* {
  box-sizing: border-box;
}

:root {
  --background-color: black;
  --text-color: white;
}

.light {
  --background-color: white;
  --text-color: black;
}

html,
body {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  transition: background-color 200ms;
}

input {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  font-size: 5vmax;
  font-weight: 700;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  white-space: normal;
  width: 100vw;
  transition: color 200ms;
}

input:focus {
  outline: none;
}

svg {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: var(--text-color);
  opacity: 0.25;
  transition: opacity 200ms;
  cursor: pointer;
  bottom: 1.5rem;
}

svg:hover {
  opacity: 1;
}

svg.theme {
  left: 1.5rem;
}

svg.copy {
  right: 1.5rem;
}
